#	$OpenBSD: ssh_config,v 1.33 2017/05/07 23:12:57 djm Exp $

# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.

# Host *
#   ForwardAgent no
#   ForwardX11 no
#   PasswordAuthentication yes
#   HostbasedAuthentication no
#   GSSAPIAuthentication no
#   GSSAPIDelegateCredentials no
#   BatchMode no
#   CheckHostIP yes
#   AddressFamily any
#   ConnectTimeout 0
#   StrictHostKeyChecking ask
#   IdentityFile ~/.ssh/id_rsa
#   IdentityFile ~/.ssh/id_dsa
#   IdentityFile ~/.ssh/id_ecdsa
#   IdentityFile ~/.ssh/id_ed25519
#   Port 22
#   Protocol 2
#   Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc
#   MACs hmac-md5,hmac-sha1,umac-64@openssh.com
#   EscapeChar ~
#   Tunnel no
#   TunnelDevice any:any
#   PermitLocalCommand no
#   VisualHostKey no
#   ProxyCommand ssh -q -W %h:%p gateway.example.com
#   RekeyLimit 1G 1h

# Send locale environment variables. #367017
SendEnv LANG LC_ALL LC_COLLATE LC_CTYPE LC_MESSAGES LC_MONETARY LC_NUMERIC LC_TIME LANGUAGE LC_ADDRESS LC_IDENTIFICATION LC_MEASUREMENT LC_NAME LC_PAPER LC_TELEPHONE NVIM_LISTEN_ADDRESS WINDOWID monitor_widths COLORTERM DISPLAY screen_layout screen_layout_v2

#Host git2tmrl
#Hostname tmrl
#ProxyCommand ssh tmrl umask


Host dusteater
Hostname dusteater
CanonicalizeHostname no

Host de
Hostname dusteater
CanonicalizeHostname no

Host esadc
Hostname esadc
CanonicalizeHostname no

Host ec
Hostname esadc
CanonicalizeHostname no

Host wb-i
Hostname wb
User root
IdentityFile ~/.ssh/id_rsa_8192
ControlPersist no
ControlMaster no
ControlMaster auto
ServerAliveInterval 1
ServerAliveCountMax 1
RequestTTY force
RemoteCommand env PATH=/usr/bin:/usr/sbin:/bin:/sbin d
port 5000

Host ac-i
Hostname ac
User root
IdentityFile ~/.ssh/id_rsa_8192
ControlPersist no
ControlMaster no
ControlMaster auto
ServerAliveInterval 1
ServerAliveCountMax 1
RequestTTY force
RemoteCommand env PATH=/usr/bin:/usr/sbin:/bin:/sbin /d
port 5000

Host fb-i
Hostname fb
User root
IdentityFile ~/.ssh/id_rsa_16384
ControlPersist no
ControlMaster no
ControlMaster auto
ServerAliveInterval 1
ServerAliveCountMax 1
RequestTTY force
#RemoteCommand env PATH=/usr/bin:/usr/sbin:/bin:/sbin d
port 5000

Host nb-i
Hostname nb
User root
IdentityFile ~/.ssh/id_rsa_8192
ControlPersist no
ControlMaster no
ControlMaster auto
ServerAliveInterval 1
ServerAliveCountMax 1
RequestTTY force
#RemoteCommand env PATH=/usr/bin:/usr/sbin:/bin:/sbin d
port 5000

Host dc-i
Hostname dc
User root
IdentityFile ~/.ssh/id_rsa_8192
ControlPersist no
ControlMaster no
ControlMaster auto
ServerAliveInterval 1
ServerAliveCountMax 1
RequestTTY force
#RemoteCommand env PATH=/usr/bin:/usr/sbin:/bin:/sbin d
port 5000

Host l6-i
Hostname l6
User root
IdentityFile ~/.ssh/id_rsa_8192
ControlPersist no
ControlMaster no
ControlMaster auto
port 5000


#Host tmrlfs
#Hostname tmrl
#User root
#ControlMaster auto
#ForwardX11Trusted no
#ForwardX11 no
#ControlPath /tmp/ssh_control_sock_sshfs_tunnel_%u@%L_to_root@tmrl
#LocalCommand sudo sshfs -o allow_other root@tmrl:/ /mnt/tmrl

Host *
PermitLocalCommand yes
ControlMaster auto
ControlPersist yes
ControlPath /tmp/ssh_control_sock:_%u_ssh-ed_as_%r_into_%h
